* {
    margin: 0;
    padding: 0;
    scrollbar-color: #8e8e8e #fff;
    scrollbar-width: thin;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

#Logo a, #Guide a {
    text-decoration: none;
}

/* Header and Nav */

header {
    position: fixed;
    background-color: #fffffff3;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    max-height: 9em;
    width: 100%;
    font-size: 22px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* Logo */

#Logo h1 a, #Guide {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 22px;
    margin: 23px 5.8em;
}

#Logo span {
    font-weight: bold;
    color: #00B8D6;
}

#Logo span:hover {
    font-weight: 900;
    transition: ease-in-out 0.3s;
    font-size: 25px;
}

/* Guide */

#Guide ul {
    display: flex;
    list-style: none;
    margin-right: 3em;
    
}

#Guide ul li {
    margin-right: 30px;
}

#Guide ul li a {
    font-weight: 600;
    color: black;
}

#Guide ul li a:hover {
    font-size: 25px;
    color: #00B8D6;
    transition: ease-in-out 0.3s;
}

/* Burguer */

.menu-btn {
    display: none;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    position: relative;
    z-index: 3;
}

.menu-btn .hamburguer {
    width: 30px;
    height: 3.5px;
    background: #00B8D6;
    transition: 0,25s ease-in-out;
    border-radius: 5px;
}

.hamburguer::before,
.hamburguer::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3.5px;
    background-color: #00B8D6;
    transition: 0.5s ease-in-out;
    border-radius: 5px;
}

.hamburguer::before {
    transform: translateY(-8px);
}

.hamburguer::after {
    transform: translateY(8px);
}

/* Burguer animation */

.open .hamburguer {
    background-color: transparent;
}

.open .hamburguer::before {
    transform: rotate(-45deg);
}

.open .hamburguer::after {
    transform: rotate(45deg);
}

main {
    display: grid;
    place-items: center;
    width: 100%;
}

main img {
    width: 100%;
    height: 46rem;
    object-fit: cover;
    filter: brightness(0.3);
    z-index: -1;
}

main .description {
    position: absolute;
    margin: auto;
    margin-top: 9rem;
}

.description h1 {
    font-size: 70px;
    color: #00FCED;
    margin: 10px;
}

.description p {
    color: #FFFFFF;
    text-align: center;
    font-size: 19px;
    padding: 0.3em;
}

.description .icons {
    text-align: center;
}

.description .icons i{
    color: #FFFFFF;
    font-size: 25px;
    margin: 1em 10px;
}

.description .icons i:hover {
    font-size: 26px;
    color: #00B8D6;
    transition: ease-in-out 0.3s;
}

/* Teck Stack */

#teck-stack {
    max-height: 25em;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.title {
    margin: 30px 1em 30px 5.8em;
}

#teck-stack h2 {
    font-size: 34px;
    padding-right: 25px;
    height: 40px;
    border-right: 1px solid #000000;
}

#teck-stack .icons ul{
    display: flex;
    list-style: none;
    margin: 15px;
}

#teck-stack .icons i {
    font-size: 70px;
    margin: 0 5px;
}

#teck-stack .icons .html-css, #teck-stack .icons .javascript {
    display: flex;
    margin: auto 20px;
}

.fa-html5 {
    color: #FC490B;
}

.fa-css3-alt, .fa-react {
    color: #006bc0;
}

.fa-js {
    color: #FFD600;
}

/* About me section */

#hero {
    background-color: #f9f9f9;
    display: flex;
    height: 46em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.img-side {
    display: grid;
    place-items: center;
    width: 50%;
}

.img-side img{
    width: 100%;
    max-width: 34em;
    border-radius: 45px;
    margin: 0 auto;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.247) 0px 5px 15px;
}

.text-side {
    margin: auto;
    width: 50%;
    margin-left: 2rem;
}

.text-side h3, #contact h3 {
    color: #006bc0;
    font-size: 21px;
    border-top: 3px solid #000000;
    width: fit-content;
    padding-top: 15px;
}

.text-side h2 {
    font-size: 50px;
    color: #2d2e32;
    margin: 5px auto 35px;
}

.text-side p {
    font-size: 16px;
    color: #555555;
    font-weight: 300;
    margin: auto 132px auto 0;
    text-align: justify;
}

/* Projects section */

#projects .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8em;
}

.slider {
    background-color: #00FCED;
    width: 60em;
    height: 32em;
    overflow: hidden;
    margin-top: 7em;
    border-radius: 30px;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
    position: relative;
}

.slide img {
    width: 100%;
    filter: brightness(0.7);
    cursor: pointer;
    transition: 0.3s;
}

.slide img:hover {
    filter: none;
}

.slide .text {
    position: absolute;
    top: 16em;
    right: 2em;
    width: 18em;
    text-align: justify;
    color: #FFFFFF;
    padding: 10px;
    border-right: 3px solid #00B8D6;
}

.slide .text h2 {
    font-size: 30px;
    text-align: right;
    margin-bottom: 15px;
}

.nav.m {
    position: absolute;
    width: 60em;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.m-btn {
    border: 2px solid #006bc0;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    display: none;
}

.m-btn:not(:last-child) {
    margin-right: 30px;
}

.m-btn:hover {
    background-color: #00FCED;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

.nav-auto {
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}

.nav-auto div:not(:last-child) {
    margin-right: 30px;
    justify-content: center;
}

/* Character and Projects*/

.character {
    position: absolute;
    top: 121em;
    left: 2em;
    width: 30em;
}

.project {
    position: absolute;
    top: 139em;
    left: 40em;
}

/* Contact section */

#contact {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 5rem 4rem;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#contact .container {
    margin: 0 4rem;
}

.project h2, #contact h2 {
    color: #2d2e32;
    font-size: 30px;
    margin-top: 20px;
}

.contacts {
    max-width: 107rem;
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    margin-top: 3rem;
}

.contacts .icon {
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #006bc0;
    display: flex;
    height: 4rem;
    width: 4rem;
    justify-content: center;
}

.contacts i {
    color: #006bc0;
    font-size: 30px;
}

.contacts .contact_icon_box {
    align-items: center;
    display: flex;
    gap: 1.5rem;
}

.contacts .text h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.contacts .text p {
    font-size: 16px;
    color: #555555;
}

/* Footer section */

footer {
    background-color: #2d2e32;
    color: #FFFFFF;
    height: auto;
}

footer .container {
    display: flex;
    font-size: 25px;
    justify-content: space-evenly;
    padding: 2.5rem;
}

footer .container .icons i{
    color: #FFFFFF;
    margin: 0 15px;
}

footer .container .icons i:hover {
    font-size: 29px;
    color: #00B8D6;
    transition: ease-in-out 0.3s;
}

@media screen and (max-width: 1024px) {

    /* About me section */

    #hero {
        height: 32em;
    }

    .img-side {
        width: 512px;
    }
    
    .img-side img {
        width: 25em;
    }

    .text-side {
        width: 400px;
    }

    .text-side h2 {
        font-size: 30px;
    }

    .text-side p {
        font-size: 14px;
        margin: 0;
    }

    .text-side h3 {
        font-size: 16px;
    }

    .contacts {
        flex-direction: column;
        gap: 2rem;
    }

    /* Projects Section */

    #projects .container {
        margin-bottom: 4em;
    }

    .slider {
        width: 40em;
        height: 22em;
    }

    .slide .text {
        top: 12em;
    }

    .slide .text h2 {
        font-size: 1em;
    }

    .slide .text p {
        font-size: 0.8em;
    }

    /* Character and Text */

    .character {
        top: 100em;
    }

    .character img {
        width: 20em;
    }

    .project {
        top: 113em;
        left: 25em;
    }

    .project h2 {
        font-size: 25px;
    }

    /* Footer section */

    footer .container {
        font-size: 20px;
    }

}

@media screen and (max-width: 1000px) {

    /* Header and Hamburguer */

    .menu-btn {
        display: flex;
        position: fixed;
        right: 30px;
        top: 25px;
    }

    header {
      width: 40%;
      max-height: 100%;
      height: 100%;
      justify-content: flex-start;  
      position: fixed;
      top: 0;
      right: -100%;
      transition: 1s ease-in-out;
      background-color: #FFFFFF;
    }

    .menu-btn.open ~ header {
        right: 0;
    }

    #Logo {
        margin: 0.5em auto 0 35px;
    }

    #Logo h1 a {
        margin: auto;
    }

    header, #Guide ul {
        flex-direction: column;
    }

    #Guide {
        display: grid;
        place-items: center;
        text-align: center;
    }

    #Guide ul {
        margin: 0.5em 0;
        gap: 30px;
    }

    #Guide ul li a {
        font-size: 28px;
    }

    #Guide ul li a:hover {
        font-size: 30px;

    }

    /* About me section */

    .text-side {
        width: 25em;
    }

    .text-side p {
        margin-right: 1.5em;
    }

}

@media screen and (max-width: 800px) {

    main .description {
        margin-top: 3rem;
    }

    header {
        width: 50%;
    }

    /* Teck stack section */

    #teck-stack {
        flex-direction: column;
        align-items: center;
    }

    .title {
        margin: 30px 0;
    }

    #teck-stack h2 {
        padding: 0 15px 10px 15px;
        border-right: none;
        border-bottom: 1.5px solid #000000;;
    }

    /* About me section */

    #hero {
        height: 57em;
        flex-direction: column;
    }

    .img-side {
        width: 100%;
    }

    .img-side img {
        max-width: 28em;
        border-radius: 50%;
        margin-top: 4em;
    }

    .text-side {
        width: 100%;
        margin-left: 0;
        display: grid;
        place-items: center;
    }

    .text-side h2 {
        font-size: 40px;
    }

    .text-side h3 {
        font-size: 21px;
    }

    .text-side p {
        font-size: 18px;
        margin: 0 2em;
    }

    /* Character and Text */

    .character {
        top: 132em;
        left: -3em;
    }

    .project {
        top: 145em;
        left: 20em;
    }


}

@media screen and (max-width: 600px) {

    .description {
        display: grid;
        place-items: center;
    }

    .description h1 {
        font-size: 3.4em;
        margin: 0 1em;
        text-align: center;
    }

    .description .icons i {
        font-size: 29px;
    }

    /* Teck stack */

    #teck-stack {
        height: 16em;
    }

    #texk-stack .icons i {
        font-size: 50px;
    }

    /* Projects Section */

    #projects .container {
        margin-bottom: 3em;
    }

    .slider {
        width: 100%;
        height: 100%;
        border-radius: 0;
        margin: 0;
    }

    .slide img {
        object-fit: cover;
        height: 100%;
    }

    .slide .text {
        top: 18em;
    }

    .slide .text h2 {
        font-size: 1em;
    }

    .slide .text p {
        font-size: 0.8em;
    }

    /* Character and Text */

    .character {
        top: 136em;
    }

    .project {
        display: none;
    }

    /* Footer Section */

    footer .icons i:hover {
        font-size: 22px;
    }

}

@media screen and (max-width: 451px) {
    
    header {
        width: 100%;
    }

    #Guide {
        margin: 1em 0;
    }

    main .description h1 {
        font-size: 4.5em;
        margin: auto;
    }

    main .description p {
        font-size: 1.2em;
        margin: 0.7em;
    }

    /* Project Section */

    #projects .container {
        margin-bottom: 2em;
    }

    .slide .text {
        top: 18em;
        width: 15em;
    }

    /* Character and Text */

    .character {
        top: 140em;
        left: -3em;
        width: 100%;
    }

    .character img {
        width: 50%;
    }

    /* Contact Section */

    #contact .container {
        margin: 0;
    }

    /* Footer Section */

    footer {
        display: grid;
        place-items: center;
    }

    footer .container {
        flex-direction: column;
        font-size: 18px;
        text-align: center;
        padding: 1.5em;
        place-items: center;
    }

    footer .icons {
        margin-top: 14px;
    }

}

@media screen and (max-width: 430px) {
    
    .img-side img {
        width: 20em;
    }

    .text-side h2 {
        font-size: 30px;
    }

    #contact h2 {
        font-size: 28px;
    }

    .contacts .icon {
        width: 3em;
        height: 3em;
    }

    .contacts  i {
        font-size: 20px;
    }

    .contacts .text h4 {
        font-size: 18px;
    }

    .contacts .text p {
        font-size: 14px;
    }

    .contacts .contact_icon_box {
        gap: 1em;
    }

}

@media screen and (max-width: 320px) {


    #teck-stack .icons i {
        font-size: 50px;
    }

    .img-side img {
        max-width: 15em;
    }

    #contact {
        padding: 5em 1em;
    }

    /* Projects Section  */

    #projects .container {
        margin-bottom: 5em;
    }

    .slide .text {
        top: 8em;
    }

    .character {
        top: 142em;
    }

    .character img {
        width: 80%;
    }

}

/* Animations */

.animate__animated.animate__pulse {
    --animate-duration: 2s;
    --animation-delay: 2s;
    animation-iteration-count: infinite;
}
